<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- WebSocket Configuration -->
  <context-param>
    <param-name>org.glassfish.tyrus.core.idleTimeout</param-name>
    <param-value>300000</param-value>
  </context-param>
  
  <!-- WebSocket Context Listener -->
  <listener>
    <listener-class>servlet.websocket.WebSocketContextListener</listener-class>
  </listener>

  <!-- Existing Context Listeners -->
  <listener>
    <listener-class>listeners.GameEngineContextListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>servlet.dashboardServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlet.homeServlet</servlet-class>
  </servlet>
  
  <!-- AJAX servlets. -->
  <servlet>
    <servlet-name>DashboardAjaxServlet</servlet-name>
    <servlet-class>servlet.ajax.dashboardAjaxServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>HomeAjaxServlet</servlet-name>
    <servlet-class>servlet.ajax.homeAjaxServlet</servlet-class>
  </servlet>
  
  <!-- Session Data Servlet for WebSocket -->
  <servlet>
    <servlet-name>SessionDataServlet</servlet-name>
    <servlet-class>servlet.ajax.SessionDataServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <!--  AJAX servlet mappings. -->
  <servlet-mapping>
    <servlet-name>DashboardAjaxServlet</servlet-name>
    <url-pattern>/ajax/dashboard</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HomeAjaxServlet</servlet-name>
    <url-pattern>/ajax/home</url-pattern>
  </servlet-mapping>
  
  <!-- Session Data Servlet mapping -->
  <servlet-mapping>
    <servlet-name>SessionDataServlet</servlet-name>
    <url-pattern>/ajax/getSessionData</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAjaxServlet</servlet-name>
  	<servlet-class>servlet.ajax.loginAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAjaxServlet</servlet-name>
  	<url-pattern>/ajax/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>servlet.registerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterAjaxServlet</servlet-name>
  	<servlet-class>servlet.ajax.registerAjaxServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterAjaxServlet</servlet-name>
  	<url-pattern>/ajax/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <!-- Session Configuration -->
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
</web-app>
